Create a DataFrame from a Python dictionary using the pandas library by following these steps:

1. Import the pandas library.
2. Create a dictionary of Name ; Age ; Country
3. Convert the dictionary into a pandas DataFrame.
4. Display the DataFrame to view its contents.

In [7]:
import pandas as pd
new_dict = {'Name':['Ade','Ore','Ife','Olu','Ire','Ola'], 'Age':[15,23,20,18,19,24], 'Country':['India','US','UK','Canada','Nigeria','Ghana']}
df = pd.DataFrame.from_dict(new_dict)

In [9]:
new_dict

{'Name': ['Ade', 'Ore', 'Ife', 'Olu', 'Ire', 'Ola'],
 'Age': [15, 23, 20, 18, 19, 24],
 'Country': ['India', 'US', 'UK', 'Canada', 'Nigeria', 'Ghana']}

In [10]:
df

  Name  Age  Country
0  Ade   15    India
1  Ore   23       US
2  Ife   20       UK
3  Olu   18   Canada
4  Ire   19  Nigeria
5  Ola   24    Ghana